.layout {
    display:grid;
    grid-template-columns: 200px 1fr 150px;

grid-template-areas:
"header header header"
"nav" "main" "aside"
"footer" "footer" "footer";   
gap:10px
}

header { 
    grid-area: header; 
    background-color:lightcoral;
    padding: 20px;
}
nav {grid-area: nav;
     background-color: lightsalmon;
     padding:10px;
}
main {
    grid-area: main;
    background-color: antiquewhite; 
     padding:10px;
    }
aside {
    grid-area: aside; 
    background-color: aqua;
    padding:10px;
}
footer {
    grid-area: footer;
    background-color: lightseagreen;
    padding:10px;  }